{% extends "memo_card/base.html" %}


{% block content %}
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card">
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title center-align">Resetuj hasło</span>
              <div class="row">
                <form method="POST" class="col s12 m6 offset-m3 l4 offset-l4">
                  {% csrf_token %}
                  <div class="row">
                    <div class="input-field">
                      {{form.new_password1}}
                      <label for="email">Nowe hasło</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field">
                      {{form.new_password2}}
                      <label for="email">Potwierdź hasło</label>
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn-floating waves-effect waves-light red right" type="submit"><i class="material-icons">arrow_forward</i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
