{% extends "memo_card/base.html" %}


{% block content %}
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="card">
          <div class="card-stacked">
            <div class="card-content">
              <span class="card-title center-align">Zarejestruj się</span>
              <div class="row">
                <form method="POST" class="col s12 m6 offset-m3 l4 offset-l4">
                  {% csrf_token %}
                  <div class="row">
                    <div class="input-field">
                      {{form.email}}
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field">
                      {{form.username}}
                      <label for=Username"">Username</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field">
                      {{form.password1}}
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field">
                      {{form.password2}}
                      <label for="password2">Confirm password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div id='loader' class="right" style="display: none;">
                      <div class="preloader-wrapper active">
                        <div class="spinner-layer spinner-red-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- </div> -->
                    <div id='lol' class="right">
                        <button class="btn-floating waves-effect waves-light red right" type="submit" id="submit"><i class="material-icons">arrow_forward</i></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <small>Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></small>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
$("#submit").click(function(){
        setTimeout('$("#lol").hide()',500);
        setTimeout('$("#loader").show()',500);
        setTimeout('$("#loader").hide()',10000);
        setTimeout('$("#lol").show()',10000);
        setTimeout(function() { M.toast({html: "Uzupełnij przed przesłaniem", classes: 'yellow rounded', displayLength:5000}); }, 10000);
        });
{% endblock %}
