{% extends "memo_card/base.html" %}

{% block content %}
<div class="row">
  <div class="col s12 m12 l12">
    <a href="{% url 'category_detail' category.id %}" class='card-link'><div class="card horizontal">
      <div class="card-image">
        <i class="material-icons medium">view_agenda</i>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title flow-text">{{category.title}}</span>
          <span class="left grey-text">{{category.description}}</span>
        </div>
      </div>
    </div></a>
  </div>
</div>

<h4>Fiszki w katygorii {{category.title}}</h4>
{%for memocard in memocards %}
    <div class="card">
      <div class="card-content">
        <span class="card-title activator"><strong>{{memocard.title}}</strong><i id="reverse" class="material-icons right">redo</i></span>
        <p class="grey-text">{{memocard.eg}}</p>
        <div class="row">
          <a href="#" class="waves-effect waves-light btn btn-floating btn-small red left"><i class="material-icons right">build</i></a>
          <a href="{% url 'card_delete' memocard.id %}" class="waves-effect waves-light btn btn-floating btn-small red right"><i class="material-icons">clear</i></a>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title"><strong>{{memocard.reverse_title}}</strong><i class="material-icons right">redo</i></span>
        <p>{{memocard.reverse_eg}}</p>
      </div>
    </div>
{% empty %}
<div class="card">
      <div class="card-content">
        <span class="card-title"><strong>W katygorii nie ma jeszcze fiszek</strong></span>
        <p class="grey-text">Dodaj fiszki do katygorii żeby usprawnić swój sposób nauki</p>
      </div>
    </div>
{% endfor %}

{% endblock %}


