{% extends "memo_card/base.html" %}

{% block content %}
  {% if memocard %}
    <div class="card memo-card">
      <div class="card-content">
        <span class="card-title activator"><strong>{{memocard.title}}</strong><i id="reverse" class="material-icons right">redo</i></span>
        <p class="grey-text">{{memocard.eg}}</p>
        <br>
        <br>
        <div class="row">
          <div class="col l4 m4 s4">
            <a href="{% url 'category_detail' memocard.category.id %}" class="waves-effect waves-light btn red left"><i class="material-icons left">arrow_back</i>Wróć do katygorii</a>
          </div>
          <div class="col l4 m4 s4 offset-s4 offset-m4 offset-l4">
            <a href="{% url 'memocard_repead' memocard.category.id %}" class="waves-effect waves-light btn red right"><i class="material-icons right">arrow_forward</i>Next</a>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title"><strong>{{memocard.reverse_title}}</strong><i class="material-icons right">redo</i></span>
        <p>{{memocard.reverse_eg}}</p>
      </div>
    </div>
  {% else %}
    <div class="card memo-card">
      <div class="card-content">
        <span class="card-title"><strong>W tej katygorii nie ma jeszcze fiszek</strong></span>
        <p class="grey-text">Dodaj fiszki do tej katygorii żeby móc je powtarzać</p>
        <br>
        <div class="row">
          <a href="{% url 'category_detail' memocard.category.id %}"  class='card-link'><button class="btn-floating waves-effect waves-light red right"><i class="material-icons">arrow_forward</i></button></a>
        </div>
        <br>
      </div>
    </div>
  {% endif %}
{% endblock %}
